<!DOCTYPE html>
<html lang="en">
<head>
	<title> Falcon Fitness Center </title>
	<meta charset ="utf-8">
</head>
<body>
<div id="container">
<header>
	<a href="index.html"><img src="images/FFCLogo.png" alt="Falcon Fitness Center Logo" height="311" width="309" style="border-color:silver"></a> <br>
</header>
<nav>
	<a href="index.html">Home</a> &nbsp; &nbsp;
	<a href="about.html">About Us</a> &nbsp; &nbsp;
	<a href="classes.html">Classes</a> &nbsp; &nbsp;
	<a href="nutrition.html">Nutrition</a> &nbsp; &nbsp;
	<a href="contact.html">Contact Us</a>
</nav>
<main>

</main>
<footer>	
	&copy; Copyright 2022. All rights Reserved. <br>
	<a 
	href="mailto:falconfitnesscenter515@gmail.com">falconfitnesscenter515@gmail.com</a>
</footer>
</div>
</body>
</html>